.header {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    padding: 30px 0;
    background-color: var(--purple--20);
}

.header>.logo {
    display: none;
}

.search {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 12px;
    background-color: var(--purple--10);
}

.header>.search>svg, .header>.header__list-icon svg {
    fill: var(--while--00);
    width: 32px;
    height: 32px;
}

.search>input {
    color: var(--grey--50);
    font-family: Poppins-Medium;
    font-size: 28px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    text-overflow: ellipsis;
}

.search>input:focus {
    outline: none;
}

.search>input::placeholder {
    color: var(--grey--50);
    font-family: Poppins-Medium;
    font-size: 24px;
    font-weight: 400;
}

.header__list-icon {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__list-icon>.regime:hover {
    cursor: pointer;
}

.header__list-icon>.regime>svg:last-child {
    display: none;
}

.header__list-icon>a:last-child {
    width: 46px;
    height: 46px;
}

.header__list-icon>a>img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1280px) {
    .header {
        padding: 20px 0;
    }

    .search>input {
        font-size: 24px;
    }

    .search>input::placeholder {
        font-size: 18px;
    }

    .header__list-icon>a:last-child {
        width: 38px;
        height: 38px;
    }

    .header>.search>svg, .header>.header__list-icon svg {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px 0;
    }

    .header>.logo {
        display: block;
        width: 43px;
        height: 43px;
        margin-right: 10px;
    }

    .header>.logo>img {
        width: 100%;
        height: 100%;
    }

    .search {
        flex-grow: 1;
        padding: 10px;
    }

    .search>input {
        width: calc(100% - 34px);
        font-size: 16px;
    }

    .search>input::placeholder {
        font-size: 14px;
    }

    .header>.search>svg, .header>.header__list-icon svg {
        width: 24px;
        height: 24px;
    }

    .header__list-icon {
        gap: 10px;
        margin-left: 15px;
    }
}